
@{
    ViewBag.Title = "Login";
}


<div class="row" style="text-align:center; background-color: rgba(255, 255, 255, 0.5); border-top: 10px solid transparent; margin-top: 150px; padding: 3px;">
    <h2>Iniciar Sesión</h2>
    <div class="danger">
        @ViewBag.Error
    </div>
    <form action="@Url.Content("~/Login/Login")" method="post">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="User" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="Pass" />
        </div>
        <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-success" />
        </div>
    </form>
    <div class="form-group">

        <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
        <h1 style="text-align:center; padding: 15px; font-size: 15px; ">¿No te has registrado?@Html.ActionLink("Registrate", "RegistrarUsuario", "Login")</h1>
    </div>

</div>

