@{
    ViewBag.Title = "Acerca de...";
}

<h1 style="text-align: center">Sistema de Riego Automatizado (AIS)</h1>
<br />
<br />
<h3>
    Se trata de un sistema de riego que provee de agua a los cultivos de manera automatizada y que emplea normalmente<br />
    la aspersión o el goteo. Existen sistemas de riego automático que combinan tanto la aspersión como el goteo<br />
    y que permiten combinar las ventajas de ambas técnicas.
</h3>

<img style="text-align: center" src="~/Img/Control-de-riego.jpg" width="650" height="300" />
<h1>AIS</h1>